<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vote</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="/home/static/css/home.css" type="text/css" />
	<script src="/home/static/js/home.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
	<div id="big">
		<div class='col-md-8 col-md-offset-2 top'>
			<div class='logo'>
				Vote
			</div>
			
			<div class='login'>
				<div class='head_pic'></div>
				<span>&nbsp; &nbsp; 个人中心</span>
			</div>

		</div>

		<div class='main col-md-8 col-md-offset-2'>
			<h3>投票管理</h3><hr>
			<table class="table table-hover">
				<tr>
					<th>ID</th>
					<th>标题</th>
					<th>状态</th>
					<th>日期</th>
					<th>评论数</th>
					<th>总票数</th>
					<th>操作</th>
				</tr>

				<tr class="active">
					<td>1</td>
					<td>lamp207班花选举投票活动</td>
					<td>投票中</td>
					<td>2018-09-02</td>
					<td>12</td>
					<td>520</td>
					<td>
						<a href="./edit.html">修改</a>|
						<a href="#">统计</a>|
						<a href="#">删除</a>
					</td>
				</tr>

				<tr class="active">
					<td>1</td>
					<td>lamp207班花选举投票活动</td>
					<td>投票中</td>
					<td>2018-09-02</td>
					<td>12</td>
					<td>520</td>
					<td>
						<a href="./edit.html">修改</a>|
						<a href="#">统计</a>|
						<a href="#">删除</a>
					</td>
				</tr>

				<tr class="active">
					<td>1</td>
					<td>lamp207班花选举投票活动</td>
					<td>投票中</td>
					<td>2018-09-02</td>
					<td>12</td>
					<td>520</td>
					<td>
						<a href="./edit.html">修改</a>|
						<a href="#">统计</a>|
						<a href="#">删除</a>
					</td>
				</tr>

				<tr class="active">
					<td>1</td>
					<td>lamp207班花选举投票活动</td>
					<td>投票中</td>
					<td>2018-09-02</td>
					<td>12</td>
					<td>520</td>
					<td>
						<a href="./edit.html">修改</a>|
						<a href="#">统计</a>|
						<a href="#">删除</a>
					</td>
				</tr>
				
			</table>	


		</div>
		
	<div class='col-md-8 col-md-offset-2 bottom'>
			
		

	</div>
</div>
</body>
</html>